/test-bench/test1/build-test1-idf-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/
/test-bench/test1/build-test1-idf-Desktop_Qt_5_15_1_MinGW_64_bit-Profile/
/test-bench/test2/build-test2-idf-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/
/test-bench/test3/build-test3-idf-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/
/test-bench/test4/build-test4-idf-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/
/test-bench/test5/build-test5-idf-Desktop_Qt_5_15_1_MinGW_64_bit-Debug/